<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension point="com.change_vision.astah.ui.actionSets">
      <actionSet
            label="%action_set_label"
            visible="true"
            id="com.change_vision.astah.xmi.actionSet">
         <menu
               id="xmi_plugin"
               label="%menu_group"
               path="tool/xmi">
         </menu>
         <action
			   label="%menu_label"
               icon="icons/sample.gif"
               class="com.change_vision.astah.xmi.XMIImportAction"
               tooltip="%menu_tooltip"
               menubarPath="tool/xmi_plugin/"
               id="xmi">
         </action>
     </actionSet>
   </extension>
</plugin>
